
csharp/packages/NUnit.3.5.0/CHANGES.txt

csharp/packages/NUnit.3.5.0/lib/dotnet/nunit.framework.dll

csharp/packages/NUnit.3.5.0/lib/dotnet/nunit.framework.xml

csharp/packages/NUnit.3.5.0/lib/net20/nunit.framework.dll

csharp/packages/NUnit.3.5.0/lib/net20/nunit.framework.xml

csharp/packages/NUnit.3.5.0/lib/net20/NUnit.System.Linq.dll

csharp/packages/NUnit.3.5.0/lib/net35/nunit.framework.dll

csharp/packages/NUnit.3.5.0/lib/net35/nunit.framework.xml

csharp/packages/NUnit.3.5.0/lib/net40/nunit.framework.dll

*.xml

*.dll

*.mdb

csharp/Puzzles.Specs/obj/Debug/Puzzles.Specs.csproj.FilesWrittenAbsolute.txt

csharp/packages/NUnit.3.5.0/LICENSE.txt

csharp/packages/NUnit.3.5.0/NOTICES.txt

*.user

*.userprefs

csharp/Puzzles/obj/Debug/Puzzles.csproj.FilesWrittenAbsolute.txt
